.google-maps {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

.directions {
  text-align: left;
  max-width: 90vw;
}