.about-menu {
  color: gray;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  top: 184px;
  z-index: 1;
  background-color: #dedddb;
  width: 100%;
}

h6 {
  margin: 0 auto;
}

.active {
  color: black;
}