.facilities-menu {
  margin: 10px 0 0 0;
  color: gray;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify; 
  position: sticky;
}

h6 {
  margin: 10px 0;
}

.active {
  color: black;
}